In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "loan_status", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('Resources\LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df = pd.get_dummies(df, columns=["loan_status", "home_ownership", "verification_status", "application_type"])


df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,loan_status_low_risk,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,application_type_Individual,application_type_Joint App
0,35000.0,0.1308,797.80,125890.0,30.48,0.0,0.0,14.0,0.0,32363.0,...,0,0,1,0,0,0,0,1,1,0
1,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,0,0,0,1,0,1,0,1,0
2,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,0,1,0,0,0,0,1,1,0
3,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,0,1,0,0,0,0,1,1,0
4,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,0,0,0,1,0,0,1,1,0

# Split the Data into Training and Testing

In [6]:
# Create our features
X = df.copy()
X = X.drop("loan_status_high_risk", axis=1)

# Create our target
y = df["loan_status_high_risk"]
y

0        0
1        0
2        0
3        0
4        0
        ..
70418    0
70419    0
70420    0
70421    0
70422    0
Name: loan_status_high_risk, Length: 70423, dtype: uint8

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,loan_status_low_risk,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,application_type_Individual,application_type_Joint App
count,70423.000000,70423.000000,70423.000000,7.042300e+04,70423.000000,70423.000000,70423.000000,70423.000000,70423.000000,70423.000000,...,70423.000000,70423.000000,70423.000000,70423.000000,70423.000000,70423.000000,70423.000000,70423.000000,70423.000000,70423.000000
mean,16621.372989,0.128063,479.478688,8.843486e+04,21.745274,0.217244,0.500632,12.583787,0.125939,17549.650966,...,0.972268,0.009216,0.526518,0.106939,0.357326,0.477770,0.374111,0.148119,0.860898,0.139102
std,10282.268052,0.048339,288.457221,1.218578e+05,20.429814,0.718822,0.760803,6.028804,0.336711,21880.270487,...,0.164206,0.095556,0.499300,0.309039,0.479216,0.499509,0.483896,0.355221,0.346056,0.346056
min,1000.000000,0.060000,30.640000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,264.930000,5.000000e+04,13.840000,0.000000,0.000000,8.000000,0.000000,6240.500000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,402.890000,7.300000e+04,19.710000,0.000000,0.000000,11.000000,0.000000,12014.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,24000.000000,0.155700,646.740000,1.040000e+05,26.620000,0.000000,1.000000,16.000000,0.000000,21657.500000,...,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,9.000000e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [9]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=78)
rf_model = rf_model.fit(X_train, y_train)
predictions = rf_model.predict(X_test)

In [10]:
# Calculated the balanced accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)

In [11]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        17178          333
Actual 1            0           95

In [12]:
# Print the imbalanced classification report
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        17178          333
Actual 1            0           95

Accuracy Score : 0.9904916909371253
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98     17511
          1       0.22      1.00      0.98      0.36      0.99      0.98        95

avg / total       1.00      0.98      1.00      0.99      0.99      0.98     17606

In [13]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.40106861010799766, 'loan_status_low_risk'),
 (0.0685030336355194, 'total_rec_prncp'),
 (0.051382201425390364, 'total_rec_int'),
 (0.04597494607443679, 'last_pymnt_amnt'),
 (0.03298119583593637, 'total_pymnt_inv'),
 (0.030771482314576888, 'total_pymnt'),
 (0.02122234965824374, 'int_rate'),
 (0.011648331893483917, 'dti'),
 (0.011579327261871114, 'out_prncp'),
 (0.009842384361111685, 'installment'),
 (0.009455419322466518, 'annual_inc'),
 (0.009315577646786694, 'out_prncp_inv'),
 (0.009246858279444093, 'mo_sin_old_il_acct'),
 (0.009151262016435867, 'tot_cur_bal'),
 (0.008770921509868676, 'total_bc_limit'),
 (0.008131866014160596, 'total_il_high_credit_limit'),
 (0.00804622590245055, 'bc_util'),
 (0.007987487106386238, 'tot_hi_cred_lim'),
 (0.007823110373696386, 'mths_since_rcnt_il'),
 (0.007785052351488289, 'mo_sin_old_rev_tl_op'),
 (0.0077126575772959415, 'max_bal_bc'),
 (0.00751078909681413, 'total_bal_ex_mort'),
 (0.007435557643110633, 'num_sats'),
 (0.0072961308970315945, 'open_acc'),
 (0.00715140891810476, 'total_rec_late_fee'),
 (0.00695398950770614, 'num_rev_accts'),
 (0.006831241574869509, 'avg_cur_bal'),
 (0.00676885675788945, 'mths_since_recent_bc'),
 (0.006765643775191002, 'mths_since_recent_inq'),
 (0.006715564387251789, 'bc_open_to_buy'),
 (0.006692594594333581, 'revol_bal'),
 (0.006205423014142988, 'loan_amnt'),
 (0.0060323974817779145, 'inq_fi'),
 (0.005951023734297773, 'il_util'),
 (0.005914877153946677, 'total_rev_hi_lim'),
 (0.0057305606259607485, 'total_bal_il'),
 (0.00572750245067899, 'num_il_tl'),
 (0.0056046099678656435, 'inq_last_12m'),
 (0.005559316695420189, 'mo_sin_rcnt_rev_tl_op'),
 (0.005498623026232926, 'total_acc'),
 (0.0051379060533755265, 'open_il_24m'),
 (0.005136438853801432, 'pct_tl_nvr_dlq'),
 (0.005017808691718489, 'all_util'),
 (0.004919980815936375, 'num_rev_tl_bal_gt_0'),
 (0.004877917421577141, 'mort_acc'),
 (0.004728253636075976, 'num_bc_tl'),
 (0.00457422528246838, 'num_actv_bc_tl'),
 (0.004156677506956425, 'loan_status_Fully Paid'),
 (0.00402017530268944, 'open_rv_24m'),
 (0.0038932030931321682, 'open_act_il'),
 (0.003818017311378097, 'mo_sin_rcnt_tl'),
 (0.0036847535464260466, 'acc_open_past_24mths'),
 (0.003561133427259318, 'inq_last_6mths'),
 (0.003495997470181218, 'num_tl_op_past_12m'),
 (0.003431476602061275, 'num_op_rev_tl'),
 (0.003429871774717991, 'total_cu_tl'),
 (0.003342436177701869, 'num_bc_sats'),
 (0.003068476176672905, 'num_actv_rev_tl'),
 (0.0026873283430637724, 'open_acc_6m'),
 (0.0025362691561149004, 'percent_bc_gt_75'),
 (0.0024864437289227916, 'open_rv_12m'),
 (0.002132597492124822, 'home_ownership_RENT'),
 (0.0019907657755812627, 'verification_status_Not Verified'),
 (0.0016738693279581562, 'delinq_2yrs'),
 (0.0016228522862368091, 'verification_status_Verified'),
 (0.0015241372309146486, 'open_il_12m'),
 (0.0014116247229525945, 'tot_coll_amt'),
 (0.0012567753998142634, 'home_ownership_MORTGAGE'),
 (0.0011149141338651415, 'num_accts_ever_120_pd'),
 (0.0009814426308723744, 'verification_status_Source Verified'),
 (0.0008267897234678343, 'home_ownership_OWN'),
 (0.0005390409467876036, 'num_tl_90g_dpd_24m'),
 (0.0005250142330093419, 'pub_rec_bankruptcies'),
 (0.000482115706657402, 'pub_rec'),
 (0.00036890081134036416, 'application_type_Individual'),
 (0.00029088253358465455, 'application_type_Joint App'),
 (0.00025387582544266813, 'home_ownership_ANY'),
 (0.0001758715917819911, 'collections_12_mths_ex_med'),
 (7.7327283702314e-05, 'loan_status_Charged Off'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [14]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
ab_model = BalancedRandomForestClassifier(n_estimators=100, random_state=78)
ab_model = ab_model.fit(X_train, y_train)
predictions = ab_model.predict(X_test)

In [15]:
# Calculated the balanced accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)

In [16]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        17178          333
Actual 1            0           95

In [17]:
# Print the imbalanced classification report
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        17178          333
Actual 1            0           95

Accuracy Score : 0.9904916909371253
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98     17511
          1       0.22      1.00      0.98      0.36      0.99      0.98        95

avg / total       1.00      0.98      1.00      0.99      0.99      0.98     17606